body{
    background-image: url('https://images.pexels.com/photos/1309644/pexels-photo-1309644.jpeg?auto=compress&cs=tinysrgb&dpr=3&h=750&w=1260');
}
.card{
    color: black;
    width: 380px;
    padding: 15px;
    float: left;
}
.danger{
    background-color: red;
    color: white;
    font-size: small;
    width: 50px;

}














                                    
                                    
                                   
                                    
                                    
                                     