
.card{
    color: black;
    width: 380px;
    padding: 15px;
    float: left;
}
.danger{
    background-color: red;
    color: white;
    font-size: small;
    width: 50px;

}














                                    
                                    
                                   
                                    
                                    
                                     